In [1]:
# Basic Libraries
import numpy as np
import pandas as pd
import math

In [2]:
class RGB:
    '''RGB class to handle colour feature'''
    def __init__(self,r,g,b):
        self.r = r
        self.b = b
        self.g = g

In [3]:
#colour_dist_red function get the colour distance of input colour with red. 
#Colour distance to represent how different/similar two colours are
def colour_dist_red(e1):
    e2 = RGB(255,0,0)
    rmean = (e1.r + e2.r ) // 2
    r = int(e1.r - e2.r)
    g = int(e1.g - e2.g)
    b = int(e1.b - e2.b)
    return math.sqrt((((512+rmean)*r*r)>>8) + 4*g*g + (((767-rmean)*b*b)>>8))/764.84

def colour_dist_green(e1):
    e2 = RGB(0,255,0)
    rmean = (e1.r + e2.r ) // 2
    r = int(e1.r - e2.r)
    g = int(e1.g - e2.g)
    b = int(e1.b - e2.b)
    return math.sqrt((((512+rmean)*r*r)>>8) + 4*g*g + (((767-rmean)*b*b)>>8))/764.84

def colour_dist_blue(e1):
    e2 = RGB(0,0,255)
    rmean = (e1.r + e2.r ) // 2
    r = int(e1.r - e2.r)
    g = int(e1.g - e2.g)
    b = int(e1.b - e2.b)
    return math.sqrt((((512+rmean)*r*r)>>8) + 4*g*g + (((767-rmean)*b*b)>>8))/764.84

In [4]:
df_shop = pd.DataFrame([['Model 1','255,0,0', 'round'], ['Model 2', '0,0,255', 'round'], ['Model 3', '0,0,0','cat'],['Model 4','255,0,0','oval'],
                         ['Model 5', '128,0,128','cat',],['Model 6', '0,0,0','rectangle'],['Model 7', '255,20,147','rectangle']],
     columns=['Name', 'Colour','Shape'])
df_shop

      Name      Colour      Shape
0  Model 1     255,0,0      round
1  Model 2     0,0,255      round
2  Model 3       0,0,0        cat
3  Model 4     255,0,0       oval
4  Model 5   128,0,128        cat
5  Model 6       0,0,0  rectangle
6  Model 7  255,20,147  rectangle

In [5]:
#table of each user faceshape rating --> from Fire base
df_users_rating = pd.DataFrame([['1','Round','4.0', '1.0','3.0','5.0','3.5','3.0','4.0'], ['2','Oblong', '1.0', '4.5','5.0',None,None,None,None], ['3', 'Diamond','3.0','1.5','4.5',None,None,None,None],['4','Round', '5.0','2.5','3.0',None,None,None,None]],
     columns=['UserId','FaceShape','M1 Rating','M2 Rating', 'M3 Rating','M4 Rating','M5 Rating','M6 Rating','M7 Rating'])
df_users_rating

,UserId,FaceShape,M1 Rating,M2 Rating,M3 Rating,M4 Rating,M5 Rating,M6 Rating,M7 Rating
0,1,Round,4.0,1.0,3.0,5.0,3.5,3.0,4.0
1,2,Oblong,1.0,4.5,5.0,None,None,None,None
2,3,Diamond,3.0,1.5,4.5,None,None,None,None
3,4,Round,5.0,2.5,3.0,None,None,None,None

In [6]:

colour_dist_list =[]
colour = df_shop["Colour"]
for c in colour:
    c_list = list(map(int,c.split(",")))
    #print(c_list)
    colour_list =[]
    colour_RGB = RGB(c_list[0],c_list[1],c_list[2])
    colour_list.append(round(1-colour_dist_red(colour_RGB),5))
    colour_list.append(round(1-colour_dist_green(colour_RGB),5))
    colour_list.append(round(1-colour_dist_blue(colour_RGB),5))
    colour_dist_list.append(colour_list)
    

print(colour_dist_list)

[[1.0, 0.15024, 0.25478], [0.25478, 0.11815, 1.0], [0.47326, 0.33319, 0.42291], [1.0, 0.15024, 0.25478], [0.62753, 0.23543, 0.62753], [0.47326, 0.33319, 0.42291], [0.72321, 0.13546, 0.42551]]

In [7]:
#This is a table of the similarity of colour.
#e.g model 1 has a score of 1 in terms of similary to colour red, since the model is red
df_RGBSim_poly = pd.DataFrame(colour_dist_list,columns=["sim_R","sim_G","sim_B"])
df_RGBSim_poly = pd.concat([df_shop[["Name", "Colour"]],df_RGBSim_poly],axis = 1)
df_RGBSim_poly

      Name      Colour    sim_R    sim_G    sim_B
0  Model 1     255,0,0  1.00000  0.15024  0.25478
1  Model 2     0,0,255  0.25478  0.11815  1.00000
2  Model 3       0,0,0  0.47326  0.33319  0.42291
3  Model 4     255,0,0  1.00000  0.15024  0.25478
4  Model 5   128,0,128  0.62753  0.23543  0.62753
5  Model 6       0,0,0  0.47326  0.33319  0.42291
6  Model 7  255,20,147  0.72321  0.13546  0.42551

In [8]:
#This is the table where column is the faceshape and the row represent the fit-ness to the corresponding model.
#e.g Round face shape fits model 1 at 0.5 (50%)
df_FS_Rating = pd.DataFrame([['Model 1','0.5','0.6', '0.1','0.4'], ['Model 2','0.2', '0.1', '0.6','0.7'], ['Model 3','0.3', '0.5','0.3','0.3'],['Model 4','0.3', '0.5','0.3','0.3'],
                         ['Model 5','0.3', '0.5','0.3','0.3'],['Model 6','0.3', '0.5','0.3','0.3'],['Model 7','0.3', '0.5','0.3','0.3']],
     columns=['Name','Round', 'Diamond','Oblong','Rectangle'])
df_FS_Rating

      Name Round Diamond Oblong Rectangle
0  Model 1   0.5     0.6    0.1       0.4
1  Model 2   0.2     0.1    0.6       0.7
2  Model 3   0.3     0.5    0.3       0.3
3  Model 4   0.3     0.5    0.3       0.3
4  Model 5   0.3     0.5    0.3       0.3
5  Model 6   0.3     0.5    0.3       0.3
6  Model 7   0.3     0.5    0.3       0.3

In [9]:
#creating user1 table
# i will need the rating of model, the faceshape, and stuff
user_id = 1
df_user1= pd.DataFrame(df_users_rating.iloc[user_id-1])
df_user1 

#df_test = pd.DataFrame(df_user1.iloc[2])
#df_test

               0
UserId         1
FaceShape  Round
M1 Rating    4.0
M2 Rating    1.0
M3 Rating    3.0
M4 Rating    5.0
M5 Rating    3.5
M6 Rating    3.0
M7 Rating    4.0

In [11]:
#df_features, should have the colour sim table and the shape table
#df_rating should have the user rating table, our repsonse
df_rating = df_user1.drop(['UserId', 'FaceShape'])
df_rating = df_rating.rename(columns={0: "Ratings of user" + str(user_id)})
df_rating = df_rating.dropna()
df_rating

          Ratings of user1
M1 Rating              4.0
M2 Rating              1.0
M3 Rating              3.0
M4 Rating              5.0
M5 Rating              3.5
M6 Rating              3.0
M7 Rating              4.0

In [12]:
df_features = pd.concat([df_RGBSim_poly[["sim_R", "sim_G","sim_B"]],df_FS_Rating[list(df_user1.loc['FaceShape'])[0]]],axis = 1)
df_features

     sim_R    sim_G    sim_B Round
0  1.00000  0.15024  0.25478   0.5
1  0.25478  0.11815  1.00000   0.2
2  0.47326  0.33319  0.42291   0.3
3  1.00000  0.15024  0.25478   0.3
4  0.62753  0.23543  0.62753   0.3
5  0.47326  0.33319  0.42291   0.3
6  0.72321  0.13546  0.42551   0.3

In [13]:
# Import train_test_split from sklearn
from sklearn.model_selection import train_test_split

# Split the Dataset into Train and Test
features_train, features_test, rating_train, rating_test = train_test_split(df_features, df_rating, test_size = 0.25)

# Check the sample sizes
print("Train Set :", rating_train.shape, features_train.shape)
print("Test Set  :", rating_test.shape,features_test.shape)

Train Set : (5, 1) (5, 4)
Test Set  : (2, 1) (2, 4)

In [14]:
from sklearn.preprocessing import PolynomialFeatures
from sklearn.linear_model import LinearRegression

poly_reg = PolynomialFeatures(degree=3)
features_train_poly = poly_reg.fit_transform(features_train)
pol_reg = LinearRegression()
poly_model = pol_reg.fit(features_train_poly,rating_train)

score = poly_model.score(features_train_poly, rating_train)
print(f'Score is {score}')

rating_train_pred = pol_reg.predict(features_train_poly)
rating_train_pred

Score is 1.0

array([[3.5],
       [3. ],
       [4. ],
       [4. ],
       [3. ]])

In [15]:
features_test_poly = poly_reg.fit_transform(features_test)
rating_test_pred = pol_reg.predict(features_test_poly)
rating_train_pred = pol_reg.predict(features_train_poly)
rating_test_actual = ""
for idx in features_test.index:
    rating_test_actual += list(df_rating.iloc[idx])[0] + " "
print(f'Actual rating is: {rating_test_actual}')
print()
print(f'Predicted rating is: {rating_test_pred}')
print()
print(rating_train_pred)

Actual rating is: 1.0 5.0

Predicted rating is: [[3.03647488]
 [4.45079708]]

[[3.5]
 [3. ]
 [4. ]
 [4. ]
 [3. ]]

In [16]:
from sklearn.metrics import mean_squared_error
print("Goodness of Fit of Model Polynomial Regression \tTrain Dataset")
print("Explained Variance (R^2) \t:", poly_model.score(features_train_poly, rating_train))
print("Mean Squared Error (MSE) \t:", mean_squared_error(rating_train, rating_train_pred))
print()
print("Goodness of Fit of Model \tTest Dataset")
print("Explained Variance (R^2) \t:", poly_model.score(features_test_poly, rating_test))
print("Mean Squared Error (MSE) \t:", mean_squared_error(rating_test,rating_test_pred))
print()

Goodness of Fit of Model Polynomial Regression 	Train Dataset
Explained Variance (R^2) 	: 1.0
Mean Squared Error (MSE) 	: 1.1832913578315177e-31

Goodness of Fit of Model 	Test Dataset
Explained Variance (R^2) 	: 0.4438932752717478
Mean Squared Error (MSE) 	: 2.2244268989130087